*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 10px 5px;
    position: relative;
}

a {
    text-decoration: none;
    color: #8a153a;
}

a::before {
    content: "";
    position: absolute;
    text-decoration: none;
    background-color: #8a153a;
    height: 3px;
    transform: translateY(2.2ex);
    transition: .5s ease-out;
    transform-origin: left;
}

a:hover::before {
    width: 9.5ch;
}
