.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
  
.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.box1, .box5 {
  width: 5rem;
  height: 3rem;
  font-size: 1rem;
  color: white;
}

.box1 {
  background-color: turquoise;
}
  
.box5 {
  background-color: rgb(255, 174, 0);
}
  
.box2, .box4 {
  width: 8rem;
  height: 5rem;
  font-size: 2rem;
  color: white;
}
  
.box2 {
  background-color: dodgerblue;
}

.box4 {
  background-color: violet;
}

.box3 {
  width: 11rem;
  height: 7rem;
  font-size: 4rem;
  background-color: rebeccapurple;
  color: white;
}